<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>To Do List</h1>

    <form action="/cd" method="post">
      <label for="title">Add a CD Title</label>
      <input id="title" name="title" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
